extends layout

block scripts
      script(type="text/javascript", src='/javascripts/jquery.js')
      script(type="text/javascript", src='/javascripts/jquery-ui.js')
      script(type="text/javascript", src='/javascripts/datepicker-fr.js')
block content
  h1 
    center
      | Welcome to #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  p
    div
      table(width="100%")
        tr
          td(align="right", width="50px")
            label(class='labelform', for="result_log")
              | Processing of Log files:
          td
            textarea(id="result_log", name="result_log", rows="20", cols="80", wrap="hard", readonly="true")
          tr
            td(colspan="2")
              center
                input(type="button", title="Back ...", value="Back", onclick="document.location.href='/';")
  script(type="text/javascript", src='/javascripts/tooltip.js')
  script(type="text/javascript")
    | document.getElementById('result_log').value = "#{result_log}";
  script(type="text/javascript")
    | var active_keys = #{activeKeys};
    | function localOnLoad() 
    | {
    |   document.getElementById('k_mac_ecu').value = active_keys['kMacEcu'];
    |   document.getElementById('k_master_ecu').value = active_keys['kMasterEcu'];
    | }
