extends layout

block content
  h1 
    center
      | Welcome to #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
    form(ref="logfile", id="logfile", method="post", action="/upload_log_file", encType="multipart/form-data")
      table(width="100%")
        tr
          td(align="right", width="50px")
            label(class='labelform').
              Log file:
          td
            input(type="file", id="log_file", title="Select the log file to upload ...", name="log_file", accept="text/ascii")
        tr
          td(colspan="2")
            p
              | &nbsp;
        tr
          td
            input(type="submit", title="Send the file to upload ...", class="rapr-button", value="File upload")
          td
            input(type="button", title="Cancel the file upload ...", class="rapr-button", value="Annulation", onclick="$('#logfile').trigger('reset');")
  script(type="text/javascript", src='/javascripts/tooltip.js')
  script(type="text/javascript")
    | var active_keys = #{activeKeys};
    | function localOnLoad() 
    | {
    |   document.getElementById('logfile').onsubmit = (event) =>
    |   {
    |     event.returnValue = true;
    |     if (event.preventDefault && document.getElementById('log_file').value === '')
    |     {
    |       alert("Please select a log file before submiting !");
    |       event.preventDefault();
    |       event.returnValue = false;
    |     }
    |     return(event.returnValue);
    |   }
    |   document.getElementById('k_mac_ecu').value = active_keys['kMacEcu'];
    |   document.getElementById('k_master_ecu').value = active_keys['kMasterEcu'];
    | }
