extends layout

block content
  h1 
    center
      | Welcome to #{title}
  p
    font(size="3px")
      | Select an entry from the side bar
  script(type="text/javascript")
    | function localOnLoad() {}
