doctype 1.1
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    block styles
      link(rel="stylesheet", href="/stylesheets/jquery-ui.css")
      link(rel="stylesheet", href="/stylesheets/jquery-ui.structure.min.css")
      link(rel="stylesheet", href="/stylesheets/jquery-ui.theme.min.css")
      link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(type="text/javascript", src='/javascripts/jquery.js')
      script(type="text/javascript", src='/javascripts/jquery-ui.js')
      script(type="text/javascript", src='/javascripts/datepicker-fr.js')
  body(style="background-color: #22A" onLoad="localOnLoad();")
    table(height="100%")
      tr(style="background-image: url('/images/autosar-embedded.jpg'); ")
        td(width="400px", colspan="2", class="block-header")
          block header
            h1
              center.
                MAC Provisionning
      tr(style="background-image: url('/images/futuristic.png'); background-repeat: no-repeat; background-size: 100%;")
        td(class="content")
          table(class="block-sidebar")
            tr
              td(style="vertical-align: bottom", class="block-sidebar")
                p.
                  &nbsp;
                br
                p(class="navtitle").
                  Navigation
            tr
              td
                block sidebar
                  div(id="accordion")
                    h3
                      |  Log Files 
                    p
                      a(href='/import_log_file')
                        | Import a log file
                      br
                      a(href='/list_log_files')
                        | List imported log files
                      br
                      a(href='/delete_log_files')
                        | Delete all imported log files
                      br
                    h3
                      |  MAC Provisionning frames 
                    p
                      a(href='/extract_mac_frames')
                        | Extract and import MAC prov. frames from a log file
                      br
                      a(href='/list_mac_prov_frame')
                        | List MAC prov frames
                      br
                    h3
                      |  SHE commands args (M1-M5) 
                    p
                      a(href='/extract_she_args_packets')
                        | Extract SHE args packets from MAC prov frames
                      br
                      a(href='/list_she_args_packets')
                        | List SHE args packets
                      br
                      a(href='/unwrap_mac_keys')
                        | Unwrap & import MAC keys
                      br
                    h3
                      |  MAC keys
                    p
                      a(href='/extract_mac_keys')
                        | Extract MAC keys from SHE commands args
                      br
                      a(href='/list_mac_keys')
                        | List MAC keys value stored in DB
                      br
                      a(href='/calc_mac_frames')
                        | Compute MAC Auth & ARC from a CAN Frame
                      br
                      a(href='/list_mac_can_frames')
                        | List stored MAC'ed CAN Frames
                      br
                      a(href='/delete_mac_keys')
                        | Delete all stored MAC keys
                      br
            tr(class="content")
              td(class="content")
                p(class="content").
                  &nbsp;
                br
                p(class="content").
                  &nbsp;
        td(width="1024px", class="content")
          block content
            #{content}
      tr
        td(colspan="2", class="block-footer")
          block footer
            p(align="right")
              em
                font(color="white")
                  | Copyright © 2022 Rémi COHEN SCALI
    script(type="text/javascript", src='/javascripts/accordion.js')
    script(type="text/javascript").
      $("#accordion").accordion( "option", "active",  #{accordionTab});
