extends layout

block content
  h1 
    center
      | Welcome to #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  p
    font(size="3px")
      div
        table(id="mac_prov_frame_tbl", width="100%")
          tr
            th(id="MacKey", style="background-color: #000")
              | Name
            th(id="IsActive", style="background-color: #000")
              | Payload
            th(id="IsMaster", style="background-color: #000")
              | SHE Cmd Extracted
  script(type="text/javascript")
    | var active_keys = #{activeKeys};
    | var mac_keys_tbl = #{macKeysTbl};
    | function localOnLoad() 
    | {
    |   
    |   document.getElementById('k_mac_ecu').value = active_keys['kMacEcu'];
    |   document.getElementById('k_master_ecu').value = active_keys['kMasterEcu'];
    | }
