extends layout

block content
  h1 
    center
      | Welcome to #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  p
    font(size="3px")
      div
        table(id="she_cmd_args_tbl", width="100%", style="overflow:scroll;white-space:pre;")
          tr
            th(id="M2", style="background-color: #000", align="center")
              | M2
            th(id="KeysExtracted", style="background-color: #000", align="center")
              | Keys Extracted
  script(type="text/javascript" src="/javascripts/list_she_args_packets_onLoad.js")
  script(type="text/javascript")
    | 
    | var active_keys = #{activeKeys};
    | var she_args_tbl = #{sheArgsTbl};
    | var sheCmdArgsTbl = document.getElementById("she_cmd_args_tbl");
    | 
