extends layout

block content
  h1 
    center
      | #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  p
    font(size="3px")
      div
        table(id="log_files_tbl", width="100%", style="overflow:scroll;white-space:pre;")
          tr
            th(id="Name", style="background-color: #000")
              | Name
            th(id="LogDate", style="background-color: #000")
              | Log Date
            th(id="Import Date", style="background-color: #000")
              | Import Date
            th(id="Version", style="background-color: #000")
              | Version
            th(id="Size", style="background-color: #000")
              | Size
            th(id="LinesNb", style="background-color: #000")
              | Lines Nb
            th(id="UUID", style="background-color: #000")
              | UUID
            th(id="ProvFramesExtracted", style="background-color: #000").
              Prov
              Frames
              Extracted
            th(id="SecuredFramesExtracted", style="background-color: #000").
              Secured
              Frames
              Extracted
  script(type="text/javascript" src="/javascripts/list_log_files_onLoad.js")
  script(type="text/javascript")
    |
    | // Data provided by Express to Pug
    | var log_files_tbl = #{logfiles};
    | var logFilesTbl = document.getElementById('log_files_tbl');
    | var active_keys = #{activeKeys};
    |
