extends layout

block content
  h1 
    center
      | Welcome to #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  p
    font(size="3px")
      div(class="div-scroll")
        table(id="mac_prov_frame_tbl", width="100%", style="overflow:scroll;white-space:pre;")
          tr
            th(id="Name", style="background-color: #000")
              | Name
            th(id="Payload", style="background-color: #000")
              | Payload
            th(id="SHECmdExtracted", style="background-color: #000")
              | SHE Cmd Extracted
  script(type="text/javascript" src="/javascripts/list_mac_prov_frames_onLoad.js")
  script(type="text/javascript")
    |
    | var active_keys = #{activeKeys};
    | var mac_prov_frame_tbl = #{macprovframes};
    |
