extends layout

block content
  h1 
    center
      | #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  p
    table(width="100%")
      tr
        td(align="right", width="250px")
          label(class='labelform', for="mac_key")
            font(size="5px").
              MacKey
        td
          font(size="5px")
            input(type="text", id="mac_key", title="Set the active MAC key ...", name="k_mac_ecu", accept="text/ascii", value="10357f020289ad8f512662ba988f1111", minlength="32", maxlength="32", size="32")
      tr
        td(align="right", width="50px")
          label(class='labelform', for="k_master_mac_ecu")
            font(size="5px").
              Master Mac Key
        td
          font(size="5px")
            input(type="text", id="master_mac_key", title="Set the active Master MAC key ...", name="k_master_mac_ecu", accept="text/ascii", value="0153F7000099ED9F320451AA8A7D9707", minlength="32", maxlength="32", size="32")
      tr
        td(colspan="2")
          p
            | &nbsp;
      tr
        td
          center
            input(type="submit", class="cancel", title="Send the keys for activation ...", value="Activate", onClick="document.location.href='/activate_keys/' + document.getElementById('mac_key').value + '/' + document.getElementById('master_mac_key').value")
        td
          center
            input(type="button", title="Cancel the file upload ...", value="Annulation", onclick="document.location.href='/'")
  script(type="text/javascript")
    | var active_keys = #{activeKeys};
    | function localOnLoad() 
    | {
    |   document.getElementById('k_mac_ecu').value = active_keys['kMacEcu'];
    |   document.getElementById('k_master_ecu').value = active_keys['kMasterEcu'];
    | }
