extends layout

block content
  h1 
    center
      | Welcome to #{title}
  font(size="3px", color="#aaf")
    p(align="right")
      | #{help}
  font(size="5px")
    p
      | #{content}
  script(type="text/javascript")
    | var active_keys = #{activeKeys};
    | function localOnLoad() 
    | {
    |   document.getElementById('k_mac_ecu').value = active_keys['kMacEcu'];
    |   document.getElementById('k_master_ecu').value = active_keys['kMasterEcu'];
    | }
