body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background:#333 url("images/ui-bg_inset-soft_25_000000_1x100.png") 50% bottom repeat-x;
}

a {
  color: #00B7FF;
}

.page-cursor {
    background-color: #35689F;
    text-align: center;
}

.page-cursor td {
    textAlign: center;
}

.div-scroll div.scroll {
    background-color: #5657EF;
    width: 1000px;
    height: 400px;
    overflow: auto;
    text-align: left;
    padding: 10px;
}

textarea {
    overflow: auto;
    padding: 4px 8px;
    background-color: #5657EF;
    border-radius: 20px;
    border: none;
}

input[type=text] {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px dotted #5657EF;
    background-color: #5657EF;
}

input[type=button] {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px dotted #5657EF;
    background-color: #56576F;
    color: #FFFFFF;
}

.cancel input[type=button] {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px dotted #5657EF;
    background-color: #56175F;
    color: #FFFFFF;
}

input[type=submit] {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px dotted #5657EF;
    background-color: #56175F;
    color: #FFFFFF;
}

input[type=file] {
    cursor: question;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px dotted #5657EF;
    background-color: #5657EF;
}
